
*,
::before,
::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #2E363E;
    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    border-bottom: 3px solid #275F7A;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #275F7A;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
}

.header-nav {}

.header-list {
    display: flex;
    /* gap: 40px; */
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    display: block;
    color: #2E363E;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 41px;
    padding-top: 41px;
}

.header-link:hover,
.header-link:focus {
    color: #275F7A;
}

.header-address {}

.header-address-link {
    color: #275F7A;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.52;
}


/* =========CUSTOMERS========= */

.customers-section {
    background-color: hsl(200, 52%, 32%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.customers-title {
    position: relative;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #fff;
    font-weight: 700;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.customers-title::before {
    display: block;
    content: '';
    width: 143px;
    height: 2px;
    background-color: #fff;
}

.customers-text {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: #fff;
    font-weight: 700;
    max-width: 440px;
    margin-bottom: 91px;
}

.customers-list {
    display: flex;
    gap: 35px;
    max-width: 1165px;
}

.customers-list-item {
    max-width: calc((100% - 70px) / 3);
    background-color: #fff;
    position: relative;
    padding: 69px 18px 38px 18px;
    box-sizing: border-box;
}

.customers-list-icon {
 fill: #022C40;
}

.customers-list-contsiner {
    position: absolute;
    border: 3px solid #022C40;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -41px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.customers-list-subtitle {
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
    font-weight: 700;
    margin-bottom: 29px;
}

.customers-list-text {
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: center;
    color: #696969;
    font-weight: 400;
}