h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #2e363e;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 3px solid #275f7a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #275f7a;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
}

.header-nav {
}

.header-list {
  display: flex;
  /* gap: 40px; */
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  color: #2e363e;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 41px;
  padding-top: 41px;
}

.header-link:hover,
.header-link:focus {
  color: #275f7a;
}

.header-address {
}

.header-address-link {
  color: #275f7a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.52;
}

/* Tariff */

.tariff {
  max-width: 1440px;
}

.tariff-container {
}

.tariff-title {
  padding-top: 100px;
  padding-bottom: 45px;
  color: var(--1, #2e363e);
  text-align: center;
  font-size: 36px;
  line-height: 1.33; /* 47.88px */
}

.tariff-list {
  max-width: 1170px;
  display: block;
}

.tariff-item {
  display: flex;
  padding-top: 80px;
  padding-bottom: 85px;
  margin-bottom: 41px;
  border-radius: 10px;
  background: #e3f2f9;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.tariff-img {
}

.tariff-item-content {
  display: block;
}

.tariff-name {
}

.tariff-cost {
}

.tariff-motto {
}

.tariff-speed {
}

.tariff-about {
}

.tariff-button {
}

/* Footer */

.footer-container {
  display: flex;
}
